<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/codigo")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--
       Aquí debe ir la barra de navegación 
    -->
    <nav class="navbar navbar-expand-xl navbar-dark" style="background-color: indigo">
        <span class="navbar-brand mb-0 h1 text-white">Reporte de Accidentes</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item barra-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item barra-item">
                    <a class="nav-link" href="@Url.Action("Index", "ConsultaDinamica")">Consultas Dinamicas</a>
                </li>
                <li class="nav-item barra-item">
                    <a class="nav-link" href="@Url.Action("Index", "ConsultaIndicador")">Consultas Por Indicador</a>
                </li>
                <li class="nav-item barra-item">
                    <a class="nav-link">Consultas en Tiempo Real</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kevin Jiménez - XXXXXXXX & Gerardo Monge - 2015145533</p>
        </footer>
    </div>

    
</body>
</html>
